---
  - name: Create temp directory
    win_file:
      path: C:\temp\deploy\Disk
      state: directory

- block:
  - name: Copy setguid.ps1...
    win_get_url:
      url: "http://{{ bin_server }}/Disk/setguid_1.0_20190808.zip"
      dest: C:\temp\deploy\Disk\setguid_1.0_20190808.zip
      timeout: 300

  - name: Extract Disk guid archive...
    win_unzip:
      src: C:\Temp\Deploy\Disk\setguid_1.0_20190808.zip
      dest: C:\Temp\Deploy\Disk
      creates: setguid.ps1

  - name: Run remote powershell script...
    win_command: powershell.exe -ExecutionPolicy ByPass -File C:\temp\deploy\disk\setguid.ps1

  tags:
    - newguid
  
  when: chassis is search("microsoft")