# {{ ansible_managed }}

{% for rule in item.rules %}
{% if 'paths' in rule %}
{% if 'comment' in rule %}
# {{ rule.comment }}
{% endif %}
{% for path in rule.paths %}
{{ path }}
{% endfor %}
{
{% if rule.options is defined %}
{% for option in rule.options %}
  {{ option }}
{% endfor %}
{% endif %}
{% if rule.scripts is defined %}
{% for name, script in rule.scripts.items() %}
  {{ name }}
    {{ script }}
  endscript
{% endfor %}
{% endif %}
}
{% endif %}{# if 'paths' in rule #}

{% endfor %}{# for rule in item.rules #}