---
- hosts: localhost
  tasks:
  # - name: install the latest version of git
  #   yum:
  #     name: git
  #     state: latest

  - name: Install microsoft repo key for azure cli
    shell: sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc

  - name: Adding microsoft repository
    yum_repository:
      name: azure-cli
      description: azure cli YUM repo
      baseurl: https://packages.microsoft.com/yumrepos/azure-cli
      gpgcheck: yes
      enabled: yes
      gpgkey: https://packages.microsoft.com/keys/microsoft.asc



  - name: Adding epel repository
    yum_repository:
      name: epel
      description: EPEL YUM repo
      baseurl: https://download.fedoraproject.org/pub/epel/$releasever/$basearch/

  - name: Adding google repository
    yum_repository:
      name: google-chrome
      description: google chrome YUM repo
      baseurl: http://dl.google.com/linux/chrome/rpm/stable/x86_64
      gpgcheck: yes
      enabled: yes
      gpgkey: https://dl.google.com/linux/linux_signing_key.pub

  - name: Adding lynis repository
    yum_repository:
      name: CISOfy-Software-Lynis-package
      description: CISOfy YUM repo
      baseurl: https://packages.cisofy.com/community/lynis/rpm/
      gpgcheck: yes
      enabled: yes
      gpgkey: https://packages.cisofy.com/keys/cisofy-software-rpms-public.key

  - name: install terraform
    command: bash /REPO/scripts/BASH/install_terraform.sh

  - name: install homebrew
    shell: bash /REPO/scripts/BASH/install_homebrew.sh

  - name: install multple apps
    yum:
      name: "{{ item }}"
      state: latest
    loop:
     - azure-cli 
     - chromium
     - google-chrome
     - firefox
     - yumex
     - python-devel
     - ansible-lint
     - python-pip
#     - code
     - ncdu
     - htop
     - git2u-all
     - perl
     - gcc
     - dkms
     - kernel-devel
     - kernel-headers
     - make
     - bzip2
     - wget
     - curl
     - gettext-devel
     - openssl-devel
     - perl-CPAN
     - perl-devel
     - zlib-devel
     - screen
     - zip
     - snapd
     - nmap
     - p7zip
     - python36u
     - python36u-libs
     - python36u-devel
     - python36u-pip
     - lynis
     - awscli
     - ntp 
    #    - code-insiders
   
  
  - name: install multi packages with pip
    pip:
      name: "{{ item }}"
      state: latest
    loop:
        - yamllint

  - name: update the system
    yum:
      name: "*"
      state: latest

  - name: clone git repos
    git:
      repo: "{{ item.repo }}"
      dest: /REPO/{{ item.name }}
      force: yes
      clone: yes
      update: yes
    loop:
      - { repo: 'https://github.com/wardcomm/linux_ansible_control.git' , name: 'linux_ansible_control' }
      - { repo: 'https://github.com/wardcomm/windows_update.git' , name: 'windows_update' }
      - { repo: 'https://github.com/wardcomm/windows_pm.git' , name: 'windows_pm' }
      - { repo: 'https://github.com/wardcomm/azure_custom.git' , name: 'azure_custom' }
      - { repo: 'https://github.com/wardcomm/azure_terraform.git' , name: 'azure_terraform' }

  - name: set timezone
    shell: timedatectl set-timezone America/New_York

  - name: Download chrome browser
    get_url:
      url: https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm
      dest: /tmp/google-chrome-stable_current_x86_64.rpm
      mode: 0777

  - name: install chrome
    yum:
      name: /tmp/google-chrome-stable_current_x86_64.rpm
      state: present
